.App {
  text-align: center;
  background-color: #EAF4F4;
  font-family: 'Bebas Neue';
  /* font-family: 'League Gothic', sans-serif; */
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&display=swap');

a{
  text-decoration: none;
  color: #6B9080;

}


/* HEADER */
.header{
  background-color: #CCE3DE;
  font-size: 20px;
}
.header-box{
  display: flex;
  align-items: center;
  height: 30px;
  padding: 10px;
  justify-content: space-between;

}







/* HOME */
.name{
  font-size: 50px;
}
.home{
  display: flex;
  height: 100vh;
}
.titles{
  overflow:hidden;
}
.title-wrapper{
  height: 100%;
  animation: title 10s ease-in-out infinite alternate;
}

@keyframes title {

  50%{
    transform: translateY(-50px);
  }
 
  100%{
    transform: translateY(-100px);
  }
}
.title{
  height: 50px;
  color:#6B9080;
  font-size: 28px;

}
.left-wrapper{
  /* background-color: #CCE3DE; */
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left{
  flex:1;
  align-items: center;
  justify-content: center;
}
.right{
  flex:1;
  background-color: #CCE3DE;
}
.summary{
  font-family: 'League Gothic', sans-serif;
  text-align: center;
}

.home-img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.home-img-wrapper{
  clip-path: circle(50% at 50% 50%);
  width: 100%;
  height: 80%;

}
.skills > li{
  list-style: none;
}
.summary-title{
  color:#6B9080;
}



/* PROJECTS */
.projects{
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects-summary{
  width: 60%;
}

.projects-summary > p{
  font-size: 30px;
}



/* FOOTER */
  .footer{
    background-color: #CCE3DE;
    font-size: 25px;
  }